body {
  background-color: #ffa07a;
  font-size: 12px;
}
.serif {
  font-family: Times, "Times New Roman", Georgia, serif;
}
.sans {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.goog {
  font-family: 'Delius', cursive;
  color: white;
}
header {
  padding-top: 2%;
  width: 99%;
  min-height: 100px;
}
main {
  padding-left: 5%;
  padding-right: 5%;
}
.preFooter {
  min-height: 100px;
  width: 99%;
  clear: both;
}
section {
  background-color: #f1f1f1;
  min-height: 200px;
  min-width: 98%;
  width: 98%;
  padding: 15px;
  margin: 5px;
  float:left;
}
h1 {
  text-align: center;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:4em;
  font-weight: 400;
  line-height: 80px;
}
@media (max-width:700px){h1{font-size: 2em; line-height: 40px;}}
@media (max-width:650px){h1{font-size: 1.2em; line-height: 20px; margin-top: 50px;}}
h3 {
  color: #fa8072;
  font-family: 'Helvetica', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  margin: 0 0 1px;
}
h4 {
  color: #fa8072;
  font-family: 'Helvetica', sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  line-height: 32px;
  margin: 0 0 1px;
}
h5 {
  color: #111111;
  font-family: 'Helvetica', sans-serif;
  font-size: 20px;
  text-align: left;
  font-weight: 400;
  line-height: 32px;
  margin: 0 0 1px;
}
p {
  color: #635059;
  font-size: 1rem;
  text-align: left;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0));
}
.row {
  clear: both;
  border-radius: 25px;
}
@media (max-width:650px){.row{max-width:19em;}}
.col {
  padding-left: 20rem;
  float: left;
  width: 27.59%;
  min-width: 15em;
  border: 1px solid gray;
  margin: 10px;
  border-radius: 25px;
}
.col1 {
  padding-left: 10px;
  float: left;
  width: 30%;
  min-width: 15rem;
  margin: 5px;
  border-radius: 25px;
}
@media (max-width:650px){.col{clear:both;}}

table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 1rem;
	margin: 1%;
	width: 60%;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #69c;
}
table th
{
	padding: 1% 1.2% 1% 1.2%;
	font-weight: normal;
	font-size: 1rem;
	color: #039;
	border-bottom: 1px dashed #69c;
}
table td
{
	padding: 1% 1.2% 1% 1.2%;
	color: #669;
}
table tbody tr:hover td
{
	color: #339;
	background: #d0dafd;
}
